# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
/gts

# Build Files
/sources/build/
/x86_release/

# ThirdParty Programs
/thirdparty/fltk/*
!/thirdparty/fltk/fltk-1.3.3/
/thirdparty/libtiff/*
!/thirdparty/libtiff/tiff-4.0.3/

# Autotools
/Makefile
/Makefile.in
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.*
.deps
.libs
.dirstamp
/libtool
/ltmain.sh

# Editors
*.swp
*~

# Other
/tests/
